body {
    background-color: rgb(75, 112, 168);
    /* text-align: center; */
    width: 300px;
    height: 100px;
}

#main-title {
    color: rgb(228, 235, 236);
}

.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

a.button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
}
a:hover {
    background-color: #ddd;
    color: black;
}
a.previous {
    background-color: #f1f1f1;
    color: black;
}
a.next {
    background-color: #04AA6D;
    color: white;
}
