#submitBtn {
	background-color:#0049ff;
	border-radius:11px;
	cursor:pointer;
	color:#ffffff;
	padding:3px 30px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;

    position: absolute;
    left: 67%;
    top: 76%;
}

#submitBtn:hover {
	background: linear-gradient(to top left, #0049ff 0%, #0079ff 100%);
}

#submitBtn:active {
	top:76.2%;
}

#logOutBtn {
    background-color:#0049ff;
	border-radius:11px;
	cursor:pointer;
	color:#ffffff;
	padding:3px 26px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;

    position: absolute;
    left: 64%;
    top: 88%;
}

#emailInput {
    width: 64.7%;
    position: absolute;
    left: 6.7%;
    top: 53.8%;
}

.buttonInput {
    background: transparent;
    border: none;
	border-radius:11px;
	cursor:pointer;
	font-family:Arial;
	font-size:16px;
	padding:7px 42px;
}

#noAccount {
    font-size: 14px;
    color: #0049ff;

    position: absolute;
    left: 0%;
    top: 76%;
}

#haveAccount {
    font-size: 14px;
    color: #0049ff;

    position: absolute;
    left: 0%;
    top: 76%;
}


#passwordInput {
    width: 64.7%;
    position: absolute;
    left: 6.7%;
    top: 64.8%;
}

#passwordInput.buttonInputSignUp {
    width: 24%;
    background: transparent;
    border: none;
	border-radius:11px;
	cursor:pointer;
	font-family:Arial;
	font-size:16px;
	padding:7px 42px;
}

#confirmPasswordInput {
    width: 25%;
    position: absolute;
    left: 46.5%;
    top: 64.8%;
}

